.oculto {
    display: none !important;
}

.modal-incidencia {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.modal-contenido {
    background: white;
    width: 90%;
    max-width: 40rem;
    padding: 2rem;
    border-radius: 1rem;
}

#modalEquipo input,
#modalEquipo select,
#modalEquipo textarea {
    width: 100%;
}

#modalEquipo .rol {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 2px solid #ddd;
}

#modalEquipo form {
    width: 100%;
}

#modalEquipo .btn {
    margin-top: 2.5rem;
    background-color: var(--amarillo-iti);
    color: black;
    border: none;
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

#modalEquipo .btn:hover {
    background-color: #eab308;
}

#modalEquipo .tarjeta {
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
}

@media screen and (max-width: 576px) {

    #modalEquipo form {
        width: 100%;
    }

}