input,
select,
textarea {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;
}

.rol {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: auto;
    border-top: 2px solid #ddd;
}


form {
    width: 50%;
}

.btn {
    margin-top: 2.5rem;
    background-color: var(--amarillo-iti);
    color: black;
    border: none;
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: #eab308;
}
.tarjeta {
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
}
@media screen and (max-width: 576px) {
form {
    width: 100%;
}
}