.oculto {
    display: none !important;
}
#modalPrestamo input,
#modalPrestamo select,
#modalPrestamo textarea {
    width: 100%;
}

#modalPrestamo .tarjeta {
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#modalPrestamo .btn {
    margin-top: 2rem;
}
.modal-incidencia {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}