.btn {
    background-color: var(--amarillo-iti);
    color: black;
    border: none;
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover {
    background-color: #eab308;
}
