.oculto {
    display: none !important;
}

.modal-incidencia {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-contenido {
    max-width: 40rem;
}