:root {

    --azul-principal: #2563eb;
    --azul-institucional: #1e3a8a;
    --azul-navbar: #172554;
    --azul-oscuro: #1e293b;

    --amarillo-iti: #eab308;
    --amarillo-hover: #fef08a;
    --gris-fondo: #f8fafc;
    --blanco: #ffffff;
}

header {
    background-color: var(--azul-institucional);
    border-bottom: 3px solid var(--azul-principal);
    padding: 2rem;
    display: flex;
    justify-content: center;

}

footer {
   
    background-color: var(--azul-institucional);
    color: var(--blanco);
    font-family: 'Barlow', sans-serif;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;      
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1;
}

.navbarSGRSI {
    background-color: var(--azul-navbar);
    border-bottom: 3px solid var(--azul-institucional);
    padding: 1rem 2rem;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    justify-content: space-between;
}

.nav-opciones-sistema {
    width: auto;
    flex-shrink: 0;
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 1rem;

}

.desplegable {
    position: relative;
}

select {
    border-color: black;
}

.desplegable-menu {

    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--azul-navbar);
    list-style: none;
    padding: 0;
    margin-top: 0.7rem;
    min-width: 12rem;
    border-radius: 0 0 8px 8px;
}

.desplegable:hover .desplegable-menu {
    display: block;
}

.desplegable-menu li a {
    display: block;
    color: var(--amarillo-iti);
    text-decoration: none;
    transition: 0.2s;
}

.desplegable-menu li a:hover {
    background-color: var(--amarillo-iti);
    color: var(--azul-navbar);
}

.btn-menu,
.btn-cerrar {
    display: none;
    background: none;
    border: none;
    color: var(--blanco);
    font-size: 2rem;
    cursor: pointer;
    align-self: flex-start;
}

.nav-menu {
    flex: 1;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    color: var(--amarillo-iti);
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    transition: 0.2s;
    white-space: nowrap;
    font-size: 1rem;
    text-decoration: none;
}

.nav-menu li a:hover {
    background-color: var(--amarillo-iti);
    color: var(--azul-navbar);
}

.nav-opciones-sistema a {
    background-color: var(--amarillo-iti);
    color: var(--azul-navbar);
    padding: 0.7rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
    overflow-x: auto;
}

.nav-opciones-sistema a:hover {
    background-color: var(--amarillo-hover);
    color: var(--azul-navbar);
}

.nav-menu,
.nav-opciones-sistema {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    margin: 2rem auto;
    border-collapse: collapse;
    background-color: white;
}

.tabla-contenedor {
    width: 100%;
}

th {
    background-color: rgb(15, 15, 160);
    color: white;
}

th,
td {
    border: 1px solid #cccccc;
    padding: 1rem;
    text-align: center;
}

.centro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

h2 {
    text-align: center;
    color: var(--azul-oscuro);
    font-size: 2rem;
    margin-bottom: 2rem;
}

textarea {
    resize: none;
    min-height: 120px;
}

form {
    background-color: var(--gris-fondo);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

input,
select,
textarea {
    padding: 0.9rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;

}

.filtros {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
    flex-wrap: wrap;
}

.filtros select {
    padding: 0.6rem;
    border-radius: 6px;
}



.btn-asignar {
    background-color: rgb(64, 64, 248);
    color: white;

    padding: 0.7rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    white-space: nowrap;
}

.btn-asignar:hover {
    background-color: rgb(15, 15, 160);
}
@media screen and (max-width: 1078px) {

    header,
    .navbarSGRSI,
    footer {
        width: 100%;
        box-sizing: border-box;
    }

    header section {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .navbarSGRSI {
        padding: 1rem;
    }

    .nav-container {
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .nav-opciones-sistema {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .nav-opciones-sistema li {
        width: 100%;
    }

    .nav-opciones-sistema a {
        display: block;
        text-align: center;
    }

    .btn-menu {
        display: flex;
        order: 2;
    }

    .btn-cerrar {
        display: flex;
        order: 2;
    }

    .nav-menu.activo {

        display: flex;
        margin-bottom: 1rem;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(15, 15, 160);
        padding: 1rem 0;
        z-index: 91;
    }

    .desplegable-menu {
        display: flex;
        position: static;
        flex-direction: column;

        width: 100%;
        background-color: rgb(9, 9, 124);
    }

    form th,
    td {
        padding: 0.7rem;

        font-size: 0.8rem;
    }

}