:root {
    --azul-principal: #1d4ed8;
    --azul-oscuro: #0f172a;
    --amarillo-iti: #facc15;
    --gris-fondo: #f3f4f6;
    --blanco: #ffffff;
}



.Tarjeta-login {
    max-width: 29rem;
    border-radius: 12px !important; 
}

.texto-azul {
    color: var(--azul-principal) !important;
}

.texto-azul-dark {
    color: var(--azul-oscuro) !important;
}
